<ul class="navbar-nav sidebar p-3">
  <h6 class="fw-light">MAIN</h6>
  <li class="nav-item active">
    <a class="nav-link fw-semibold" href="{% url 'dashboard' %}">Dashboard</a>
  </li>
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="#">Schedule</a>
  </li>
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="{% url 'patient_list' %}">Patients</a>
  </li>
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="{% url 'appointment_list' %}">Appointments</a>
  </li>
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="{% url 'appointment_request' %}">Appointment Requests</a>
  </li>
  <h6 class="fw-light pt-4">SUPPORT</h6>  
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="#">Help Center</a>
  </li>
  <li class="nav-item p-1"></li>
    <a class="nav-link fw-semibold" href="#">Settings</a>
  </li>
  <form method="POST">
    {% csrf_token %}
    <button>Logout</button>
  </form>
</ul>