body {
    /* min-height: 100vh; */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    
}

#wrapper #content-wrapper {
    background-color: #FAFAFB;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
}

/* SIDEBAR */
.sidebar {
    position: relative;
    width: 300px;
    height: 100vh;
    color: #FFFFFF;
    background-color: #090131;
    border-right: 0.5px solid rgb(0, 0, 0, .2);
}

.sidebar a {
    padding: 10px;
    font-size: 16px;
    color: #bcbcbc;
}

.sidebar a:hover {
    background-color: #221A46;
    border-radius: 5px;
    color: #FFFFFF;
}

.nav-item.active .nav-link {
    color: white;
    background-color: #221A46;
}

.user-logout {
    font-size: 12px;
}

/* NAVBAR */
.navbar {
    height: 90px;
    background-color: #FAFAFB;
    border-bottom: 0.5px solid rgb(0, 0, 0, .2);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    color: black;
}

.dropdown-menu {
    background-color: #090131;
}

.dropdown-item {
    color: white;
}

/* DASHBOARD */
.dashboard-statistics {
    /* margin-top: 30px; */
    /* background-color: #627254; */
    /* border: 0.5px solid rgb(0, 0, 0, .2); */
    /* border-radius: 10px; */
    min-width: 50vw;
    /* padding: 30px; */
    display: flex;
}

.d-stat-1, .d-stat-2, .d-stat-3 {
    /* margin-top: 20px; */
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
    /* background-color: white; */
    width: 30%;
    /* height: 110px; */
}

.d-stat-content {
    padding: 10px 10px;
}

.d-stat-content h2 {
    /* font-size: 36px; */
    font-weight: bold;
    color: #090131;
}

.d-stat-content h6 {
    font-size: 16px;
    opacity: 50%;
}

/* .dashboard-recent-appointments {
    margin-top: 5px;
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
    height: 60%;
} */

.dashboard-recent-appointments h4, a {
    color: #090131;
    padding: 20px;
}

.dashboard-recent-appointments-title {
    padding-top: 40px;
}

/* .dashboard-recent-appointments-table {
    margin-top: 20px;
    padding: 20px;
    height: 100%;
} */

.dashboard-recent-appointments-table td {
    padding: 20px;
}

.appointment-card-span {
    font-size: 14px;
    color: #949494;
}

.dashboard-recent-appointments-table b {
    color: #090131;
}

/* LOGIN */
.login-form {
    padding: 50px;
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
    color: red;
}

/* APPOINTMENT */
.add-patient-form {
    padding: 50px;
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
}

.add-patient-form button {
    background-color: #627254;
    border: none;
}

.add-patient-form button:hover {
    background-color: #434e39;
}

.add-patient-form h4 {
    color: #627254;
    font-weight: bold;
}

.form-control {
    width: 100%;
}

.form-select {
    height: 58px;
}

.form-floating label {
    margin-left: 10px;
    opacity: 70%;
}

.appointment-body h3 {
    padding-top: 15px;
    font-size: 24px;
    color: #627254;
}

.add-patient-btn {
    background-color: #627254;
    padding: 10px;
    border: none;
}

.add-patient-btn:hover {
    background-color: #434e39;
}

.add-patient-btn:not(:disabled):not(:disabled):active {
    background-color: #434e39;
}

.appointment-item {
    margin-top: 20px;
    /* height: 100%; */
}

.appointment-table {
    padding: 30px;
    /* border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px; */
    height: 100%;
}

.appointment-table td {
    padding: 20px;
}

.appointment-table-request, .appointment-table-type {
    font-size: 14px;
    padding-top: 100px;
    opacity: 50%;
}

.appointment-table b {
    color: #76885B;
}

.appointment-table-view-btn {
    border: 0.5px solid #090131;
    width: 100px;
}

.appointment-table-view-btn:hover {
    background-color: #090131;
}

.appointment-table-view-btn:not(:disabled):not(:disabled):active {
    background-color: #090131; 
}

/* PATIENT */

.patient-title {
    color: #627254;
}

.patient-table {
    padding-top: 30px;
}

.patient-table td {
    padding: 20px 10px;
}

.patient-table span {
    font-weight: bold;
    color: #76885B;
}

