{% extends 'student/base.html' %}

{% block title %}Book Appointment | Vibrant Mind{% endblock %}

{% block navTitle %}Book Appointment{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Book an Appointment</h2>
    <form action="{% url 'book_appointment' %}" method="POST">
        {% csrf_token %}
        {{ form.appointment_type }}
        {{ form.notes }}
        <div class="d-flex">
            {{ form.date }}
            {{ form.time }}
        </div>
        <button type="submit" class="btn btn-submit btn-block mt-3">Submit</button>
    </form>
</div>
{% endblock %}
