<ul class="navbar-nav sidebar p-3">
  <h6 class="fw-light">MAIN</h6>
  <li class="nav-item p-1 active">
    <a class="nav-link fw-semibold" href="{% url 'student_dashboard' %}">Dashboard</a>
  </li>
  <li class="nav-item p-1">
    <a class="nav-link fw-semibold" href="{% url 'health_record' %}">Health Record</a>
  </li>
  <li class="nav-item p-1">
    <a class="nav-link fw-semibold" href="{% url 'book_appointment' %}">Book Appointment</a>
  </li>
  <li class="nav-item p-1">
    <a class="nav-link fw-semibold" href="{% url 'prescription' %}">Prescription</a>
  </li>
  <li class="nav-item p-1">
    <a class="nav-link fw-semibold" href="{% url 'notification' %}">Notifictions</a>
  </li>
</ul>