body {
    min-height: 100vh;
}

#wrapper {
    display: flex;
    
}

#wrapper #content-wrapper {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
}

.sidebar {
    position: relative;
    width: 300px;
    min-height: 100vh;
    background-color: white;
    padding: 10px;
    border-right: 0.5px solid rgb(0, 0, 0, .2);
}

.navbar {
    height: 100px;
    background-color: white;
    border-bottom: 0.5px solid rgb(0, 0, 0, .2);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    color: black;
}

.add-patient-form {
    padding: 50px;
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
}

.add-patient-form button {
    background-color: #665DFF;
}

.add-patient-form button:hover {
    background-color: #4943bb;
}

.add-patient-form h4 {
    color: #665DFF;
    font-weight: bold;
}

.form-control {
    width: 100%;
}

.form-select {
    height: 58px;
}

.form-floating label {
    margin-left: 10px;
    opacity: 70%;
}

.appointment-body button {
    float: right;
    padding: 15px;
}

.appointment-body h3 {
    padding-top: 15px;
    color: #665DFF;
}

.appointment-table {
    margin-top: 20px;
    border: 0.5px solid rgb(0, 0, 0, .2);
    border-radius: 10px;
    height: 100%;
}