{% extends 'staff/base.html' %}

{% block title %}Appointment Requests | Vibrand Mind{% endblock %}

{% block navTitle %}Appointment Requests{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 20px;">
    {% if appointment_requests %}
        {% for appointment in appointment_requests %}
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <div class="d-flex" style="justify-content: space-between;">
                        <div>
                            <b>{{ appointment.patient.lastName }}, {{ appointment.patient.firstName }} {{ appointment.patient.middleName }}</b>
                            <br> <span class="appointment-table-request">Requested at: {{ appointment.dateRequested }} - {{ appointment.timeRequested|time:"h:i A" }}</span>
                        </div>
                        <div style="margin: auto 0;">
                            <b>{{ appointment.session_type }}</b> <span class="appointment-table-type"> - {{ appointment.appointment_type }}</span>
                        </div>
                        <div style="margin: auto 0;">
                            <button type="button" class="btn btn-outline-secondary appointment-table-view-btn" data-bs-toggle="modal" data-bs-target="#modal{{ appointment.id }}">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal{{ appointment.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel{{ appointment.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel{{ appointment.id }}">Appointment Request</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><b>ID:</b> {{ appointment.patient.studentID }}</p>
                            <b>{{ appointment.patient.lastName }}, {{ appointment.patient.firstName }} {{ appointment.patient.middleName }}</b>
                            <br><br>
                            <p><b>Session:</b> {{ appointment.session_type }} - {{ appointment.appointment_type }}</p>
                            <h6><b>Preferred Date/Time:</b></h6>
                            <p>{{ appointment.date }} - {{ appointment.time|time:"h:i A" }}</p>
                            <h6><b>Notes:</b></h6>
                            <p>{{ appointment.notes }}</p>
                            
                            <p>________________________________________________________________</p>
                            <form id="appointmentForm{{ appointment.id }}" method="post" action="{% url 'update_appointment' appointment.id %}">
                                {% csrf_token %}
                                <div class="d-flex">
                                    <div style="padding-right: 20px;">
                                        <label for="date{{ appointment.id }}">Date:</label>
                                        <input type="date" id="date{{ appointment.id }}" name="date" class="form-control" value="{{ appointment.date }}">
                                    </div>
                                    <div>
                                        <label for="time{{ appointment.id }}">Time:</label>
                                        <input type="time" id="time{{ appointment.id }}" name="time" class="form-control" value="{{ appointment.time }}">
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="appointmentForm{{ appointment.id }}" class="btn btn-primary" style="background-color: #874FFF; border: none;">Approve</button>
                            <form method="post" action="{% url 'delete_appointmentRequest' appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center mt-5">
            <h4 style="color: #090131;">No appointment requests available</h4>
        </div>
    {% endif %}
</div>
{% endblock %}
