{% extends 'staff/base.html' %}

{% block title %}Appointments | Vibrand Mind{% endblock %}

{% block navTitle %}Appointments{% endblock %}

{% block content %}
<!-- <div class="btn-group mb-4" role="group" aria-label="Appointment Filters">
    <input type="radio" class="btn-check" id="not_done" name="status" value="not_done" 
           {% if status == 'not_done' %}checked{% endif %} autocomplete="off">
    <a href="?status=not_done" class="btn btn-outline-primary" for="not_done">
        Not Done
    </a>

    <input type="radio" class="btn-check" id="done" name="status" value="done" 
           {% if status == 'done' %}checked{% endif %} autocomplete="off">
    <a href="?status=done" class="btn btn-outline-primary" for="done">
        Done
    </a>
</div> -->

<div class="container-fluid" style="margin-top: 20px;">

    {% for appointment in appointments %}
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <div class="d-flex" style="justify-content: space-between;">
                        <div>
                            <b>{{ appointment.patient.lastName }}, {{ appointment.patient.firstName }} {{ appointment.patient.middleName }}</b>
                            <br> <span class="appointment-card-span">Scheduled for: {{ appointment.date }} - {{ appointment.time|time:"h:i A" }}</span>
                        </div>
                        <div style="margin: auto 0;">
                            <b>{{ appointment.session_type }}</b> <span class="appointment-card-span"> - {{ appointment.appointment_type }}</span>
                        </div>
                        <div style="margin: auto 0; display: flex; gap: 10px;">
                            <!-- Check Mark Button -->
                            <form method="post" action="{% url 'mark_appointment_done' appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="bi bi-check-circle"></i> <!-- Bootstrap Icons -->
                                </button>
                            </form>
                            
                            <!-- Trash Icon Button -->
                            <form method="post" action="{% url 'delete_appointment' appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> <!-- Bootstrap Icons -->
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}

    {% if not appointments %}
        <div class="text-center mt-5">
            <h4 style="color: #090131;">No pending appointments available</h4>
        </div>
    {% endif %}
</div>
{% endblock %}