{% extends 'staff/base.html' %}

{% block content %}
<div class="container dashboard-statistics">
    <div class="container d-stat-1">
        <div class="d-stat-content">
            <h1>{{ patients.count }}</h1>
            <h6>Current Patients</h6>
        </div>
    </div>
    <div class="container d-stat-2">
        <div class="d-stat-content">
            <h1>{{ appointments.count }}</h1>
            <h6>Appointments</h6>
        </div>
    </div>
    <div class="container d-stat-3">
        <div class="d-stat-content">
            <h1>{{ appointment_requests.count }}</h1>
            <h6>Appointment Requests</h6>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-between dashboard-recent-appointments-title">
    <h4>Recent Appointments</h4>
    <a href="{% url 'appointment_list' %}">See All</a>
</div>
<div class="container dashboard-recent-appointments-table">
    <table class="table table-striped table-hover">
        <!-- <thead>
            <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Staff</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead> -->
        <tbody>
            {% for appointment in appointments|slice:":5" %}
                {% if appointment.approval %}
                    <tr>
                        <td><b>{{ appointment.patient.lastName }}, {{ appointment.patient.firstName }} {{ appointment.patient.middleName }}</b> <br> <span class="appointment-table-request">Requested at: {{ appointment.date }} {{ appointment.time }}</span></td>
                        <td><b>Standard</b> <span class="appointment-table-type"> - Counceling</span></td>
                        <td><b>{{ appointment.date }}</b> <span class="appointment-table-type">- {{ appointment.time }}</span></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}