{% extends 'staff/base.html' %}

{% block title %}Patients | Vibrand Mind{% endblock %}

{% block navTitle %}Patient List{% endblock %}

{% block content %}
<div class="container-fluid patient-table">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>NAME</th>
                <th>#ID</th>
                <th>AGE</th>
                <th>GENDER</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td><span>{{ patient.user.lastName }}, {{ patient.user.firstName }} {{ patient.user.middleName }}</span></td>
                <td>{{ patient.user.studentID }}</td>
                <td>{{ patient.user.age }}</td>
                <td>{{ patient.user.gender }}</td>
                <td><a href="#">Profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}